i {
    color: grey;
    font-size: 16px;
}

.d-flex {
    width: 1000px;
    margin-left: 20px;
}

.nav-link {
    color: black;
}

.nav-link-active {
    color: black;
}

.nav-item {
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.nav-language {
    font-size: 14px;
    color: rgb(82, 82, 82);
}

.navbar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    height: 70px;
}

.form-control {
    background-color: #fbfbf8;
    height: 48px;
}


.header {
    display: flex;
    justify-content: center;
}

.learning {
    margin-left: 305px;
    margin-top: 75px;
}

.learningText {
    font-size: 24px;
    font-weight: bold;
    color: rgb(60, 59, 55);
    margin-bottom: 0;
}

.learningTagline {
    font-size: 16px;
    color: grey;
}

.coursesCard {
    display: flex;
    justify-content: center;
}

.card {
    width: 1310px;
}

.card-title {
    font-size: 39px;
    color: rgb(60, 59, 55);
    font-weight: bold;
    margin-top: 5px;
    margin-left: 2px;
}

.card-text {
    font-size: 20px;
    font-weight: 378;
    color: rgb(60, 59, 55);
    margin-left: 5px;
}


.btn {
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    color: rgb(82, 82, 82);
}


.button-addon2 {
    border: none;
}

.jumbotron {
    background-image: url("https://img-b.udemycdn.com/notices/home_banner/image_udlite/8a5d045c-2dd2-4a4d-bb0e-a487af8a5aa0.jpg?secure=pcfANf-zmHg4guAUGIQkRQ%3D%3D%2C1622305542");
    width: 1340px;
    height: 400px;
}

.dreamUp {
    margin-top: 60px;
    margin-left: 45px;
    width: 440px;
    height: 215px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.wrapper{
    margin: 150px 50px;
}

.popover .arrow {
    display: none;
}


.round {
    width: 1020px;
    height: 48px;
    border-radius: 25px;
    border: 1px rgb(88, 88, 88) solid;
    padding: 5px 5px 5px 25px;
}

.corner {
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: none;
    background: #000; /* Set the bg image here. with "no-repeat" */
}

.search {
    width: 1000px;
}